<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<form action="/create" method="post">
		<div>
			<label for="">uniqueid</label>
			<input id="uniqueid" name="uniqueid" type="text" placeholder="enter unique id">
		</div>
		<div>
			<label for="">polling_unit_id</label>
			<input id="polling_unit_id" name="polling_unit_id" type="text" placeholder="enter polling unit id">
		</div>
		<div>
			<label for="">ward_id</label>
			<input id="ward_id" name="ward_id" type="text" placeholder="enter ward id">
		</div>
		<div>
			<label for="">lga_id</label>
			<input id="lga_id" name="lga_id" type="text" placeholder="enter lga id">
		</div>
		<div>
			<label for="">uniquewardid</label>
			<input id="uniquewardid" name="uniquewardid" type="text" placeholder="enter uniquewardid">
		</div>
		<div>
			<label for="">polling_unit_number</label>
			<input id="polling_unit_number" name="polling_unit_number"  type="text" placeholder="enter polling unit number">
		</div>
		<div>
			<label for="">polling_unit_description</label>
			<input id="polling_unit_description" name="polling_unit_number" type="text" placeholder="enter polling unit description">
		</div>
		<div>
			<label for="">lat</label>
			<input id="lat" name="lat" type="text" placeholder="enter lat">
		</div>
		<div>
			<label for="">long</label>
			<input id="long" name="long" type="text" placeholder="enter long">
		</div>
		<div>
			<label for="">entered_by_user</label>
			<input id="entered_by_user" name="entered_by_user" type="text" placeholder="enter entered by user">
		</div>
		<div>
			<label for="">date_entered</label>
			<input id="date_entered" name="date_entered" type="text" placeholder="enter date entered">
		</div>
		<div>
			<label for="">user_ip_address</label>
			<input id="user_ip_address" name="user_ip_address" type="text" placeholder="enter user ip address">
		</div>
		<button type="button">submit</button>
	</form>
</body>
</html>